:root {
  --primary: #d8db32;
  --verde-claro: #fafae0;
  --azul: #133040;
  --azul-escuro: #0e2431;
  --azul-claro: #e2f5fc;
  --cinza: #475963;
  --cinza-claro: #a0bdcf;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; //ensures that padding and border are included in the elements total width, preventing it from overflowing the viewport
}

.container {
  padding: 2rem 1.5rem 2.3rem 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2.5rem;
  background-color: var(--azul);
}

.mortgage-container h1 {
  font-size: 1.7rem;
  line-height: 10px;
  color: var(--azul);
}

.mortgage-container__clear {
  color: var(--cinza);
  transition: 0.3s;
}

.container__form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container__form h3 {
  line-height: 0;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--cinza);
}

.input-label {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  border: 0.7px solid var(--cinza);
  border-radius: 5px;
  overflow: hidden;
}

.input-label input[type="number"] {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  color: var(--azul);
  border: none;
  background: none;
  flex-grow: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--cinza);
  background-color: var(--azul-claro);
}

.mortgage__type {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  margin-bottom: 0.5rem;
  height: 3rem;
  border: 0.7px solid var(--cinza);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--azul);
  cursor: pointer;
  transition: background-color 0.3s;
  transition: 0.3s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mortgage__type input[type="radio"] {
  display: none;
  position: absolute;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 1rem;
  height: 20px;
  width: 20px;
  border: 1px solid var(--azul);
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--primary);
}

.mortgage__type input[type="radio"]:checked ~ .checkmark {
  border: 1px solid var(--primary);
}

.mortgage__type input:checked ~ .checkmark:after {
  display: block;
}

.mortgage__type:has(input[type="radio"]:checked) {
  background-color: rgb(from var(--primary) r g b / 20%);
  border: 1px solid var(--primary);
}

.calculate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--azul);
  background-color: var(--primary);
}

.calculate-button img {
  height: 1.3rem;
}

/* ---- Results ---- */
.empty-results {
  display: block;
}

.results h2 {
  line-height: 10px;
  font-weight: 600;
  color: #fff;
}

.results__texts {
  color: var(--cinza-claro);
  line-height: 23px;
}

.empty-results {
  text-align: center;
}

.empty-results img {
  width: 15rem;
}

/* ---- Completed Results ---- */

.completed-results {
  display: none;
}

.completed-results__values {
  margin-top: 2rem;
  padding: 0.7rem 1rem 1.5rem 1rem;
  border-top: 5px solid var(--primary);
  border-radius: 15px;
  background-color: var(--azul-escuro);
}

.completed-results__values .results__texts {
  margin-bottom: 0.5rem;
}

.completed-results__values hr {
  border-top: 0.5px solid var(--azul);
  margin: 1rem 0 1.5rem 0;
  opacity: 0.2;
}

.results__monthly-repayment {
  color: var(--primary);
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0;
}

.results__total-repayment {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}

/* ---- Footer ---- */
.attribution {
  padding: 0.8rem 0.5rem;
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--cinza-claro);
  background-color: var(--azul-escuro);
}

.attribution a {
  color: var(--azul-claro);
  text-decoration: none;

  &:hover {
    color: var(--primary);
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: var(--azul-claro);
  }

  .desktop-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
  }

  .mortgage__type:hover {
    border: 1px solid var(--primary);
  }
}

@media screen and (min-width: 1000px) {
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .desktop-container {
    width: 60rem;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
  }

  .container {
    padding: 2rem 3rem 2.3rem 3rem;
  }

  .mortgage-container__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mortgage-container__clear {
    &:hover {
      color: var(--azul-escuro);
    }
  }

  .container__form {
    row-gap: 0.5rem;
  }

  .input__icon {
    font-size: 1rem;
  }

  .double-inputs {
    display: flex;
    column-gap: 1rem;
  }

  .double-inputs .input-label {
    display: flex;
    justify-content: justify-between;
    width: auto;
  }

  .mortgage-container h3 {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .mortgage__type {
    font-size: 1rem;
  }

  .calculate-button {
    width: 20rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: rgb(from var(--primary) r g b / 30%);
    }
  }

  .calculate-button img {
    height: 1.5rem;
  }

  .results-container {
    border-radius: 0 0 0 80px;
  }

  .results__texts {
    font-size: 1rem;
  }

  .attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
